.root{
    -fx-font-family: "SansSerif";
    -fx-background-color:#1C2729;
}

#menu {-fx-background-color:#95AFA2;}

.header{-fx-background-color:#22373A;	}


.label{	-fx-text-fill: white;}

/* controls */
.red {
	-fx-text-fill: red;
}

.h1{
	-fx-font-size:24px;
}

.h2{
	-fx-font-size:18px;
}
.text-field.error , .combo-box.error{
	-fx-border-color: red;
	-fx-border-width: 2px;
	-fx-border-radius: 3px, 2px;
	
}

.button ,.toggle-button{
-fx-background-color:#83C1D0;
-fx-background-radius: 7px;
-fx-background-insets:1px;
-fx-text-fill: white;
-fx-border-color: #1C2729;
-fx-border-radius: 7px;

}



.button:hover,.toggle-button:selected{
-fx-background-color:#538996;
-fx-font-weight:bold;
}
.btn_no:hover{
	-fx-background-color:red;
}
.btn_yes:hover{
	-fx-background-color:green;
}
.check-box ,.radio-button{ -fx-text-fill: white; }
.table-view .column-header{	-fx-background-color:#83C1D0;}

.tooltip{
	-fx-background-color:#83C1D0;
	-fx-font-size:12px;
	-fx-font-weight:bold;
}

.slider .thumb{	-fx-background-color:#83C1D0;}
.slider .axis { -fx-tick-label-fill: white; }

.date-picker .arrow-button,.date-picker-popup > .month-year-pane{-fx-background-color:#83C1D0;}
.date-picker .button{-fx-background-color:#538996;}

.choice-box{-fx-background-color:white;}
.choice-box .menu-item:focused { -fx-background-color: #83C1D0; }
.choice-box .menu-item:selected { -fx-background-color: #83C1D0; }
.choice-box .menu-item .label { -fx-text-fill: black;  }
.choice-box .label { -fx-text-fill: black;  }

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color:#538996;
	-fx-font-weight:bold;
}
.combo-box{-fx-background-color:white;}
.combo-box-popup .cell:selected {-fx-background-color:#83C1D0;}

.default-color0.chart-bar { -fx-bar-fill: #83C1D0; }
.default-color1.chart-bar { -fx-bar-fill: #1C2729; }
.default-color2.chart-bar { -fx-bar-fill: #538996; }
.default-color3.chart-bar { -fx-bar-fill: #41a9c9; }
.axis  { -fx-tick-label-fill: white; }


.default-color0.chart-pie { -fx-pie-color: #83C1D0; }
.default-color1.chart-pie { -fx-pie-color: #1C2729; }
.default-color2.chart-pie { -fx-pie-color: #538996; }
.default-color3.chart-pie { -fx-pie-color: #41a9c9; }
.chart-pie-label {-fx-fill: white;}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: #83C1D0;
    -fx-background-insets: 0px;
    
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-body-color: #538996;
}
/*END OF controls */

/* alert */
.alert{
	-fx-font-family:"System" ;
    -fx-background-color: #1C2729;
    -fx-border-color: white;
}

.alert > *.label.content{
	-fx-padding:10px;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}
.alert *.header-panel{
    -fx-background-color: #22373A;
}
.alert *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

/*END OF alert */
